@media (min-width: 992px) and (max-width: 1199px)
    .header
        &__nav
            ul
                li
                    margin: 0 15px
        &__device
            top: 45%
            left: 45%
            width: 50%
        &__body_text
            h1
                font-size: 35px
                margin-bottom: 0
            p
                line-height: 27px
    .plan
        &__wrapper
            padding: 100px 0 0 0
        &__block
            padding-bottom: 120px
    .scheme
        &__image
            width: 90%
    .features
        &__wrapper
            padding: 90px 0 40px 0
    .history
        p
            width: 400px
    .business
        img
            width: 90%
    .support
        p
            width: 430px 
            font-size: 15px
            line-height: 27px
    .hire
        img
            width: 90%
        &__block
            width: 90%
@media (min-width: 768px) and (max-width: 991px)
    .header
        height: 550px
        &__wrapper
            padding: 25px 0 40px 0
        &__logo
            img
                width: 90%
        &__nav
            ul
                li
                    margin: 0 8px
                    font-size: 12px
        &__body
            margin-top: 30px
        &__device
                top: 50%
                left: 45%
                width: 50%  
        &__body_text
            h1
                font-size: 30px
                margin-bottom: 10px
            p
                width: 300px
                font-size: 12px
                line-height: 22px
    .title
        width: 250px
        height: 45px
        font-size: 20px
        margin-bottom: 50px            
    .plan
        &__wrapper
            padding: 50px 0 0 0
        &__block
            padding-bottom: 80px
            img
                width: 50%
                height: 50%
        &__text
            margin-left: 10px
            width: 400px
            height: 245px
            h4
                font-size: 17px
            p
                line-height: 19px
                font-size: 12px
        &__button
            width: 120px
            height: 40px
    .scheme
        &__wrapper
            padding: 30px 0 50px 0
        &__image
            width: 90%
    .features
        &__wrapper
            padding: 60px 0 10px 0
        &__column
            width: auto
            height: auto
            margin-bottom: 30px
        p
            font-size: 13px
    .packages
        &__column_left
            h5
                padding-bottom: 10px
            h6
                padding-bottom: 27px
            p
                margin-bottom: 10px
        &__left_btn
                width: 150px
        &__column_mid
            h5
                padding-bottom: 10px
            h6
                padding-top: 0    
            p
                margin-bottom: 10px
        &__mid_btn
                width: 150px
        &__column_right
            h5
                padding-bottom: 10px
            h6
                padding-top: 11px
                padding-bottom: 28px
            p
                margin-bottom: 10px
        &__right_btn
                width: 150px
    .history
        img
            width: 60%
            height: 60%
        p
            width: 270px
            font-size: 13px
            line-height: 20px
            margin-top: 15px
    .business
        &__wrapper
            padding: 40px 0
        &__title
            margin-bottom: 50px
        &__projects
            width: 90% 
    .team
        img
            width: 70%
        h4
            font-size: 12px
        h5
            font-size: 14px
        ul
            padding: 20px
        &__block
            height: 200px
    .support
        &__wrapper
            padding: 25px 0
        &__img
            width: 60%
            height: 60%
        p
            width: 300px
            font-size: 13px
            line-height: 20px
    .hire
        &__wrapper
            padding: 40px 0
        img
            width: 90%
        &__block
            width: 90%
    .footer
        height: 370px
        h5
            font-size: 15px
        a
            font-size: 13px
        &__copyright
            font-size: 13px   
@media (min-width: 480px) and (max-width: 767px)
        




