@import url(/Users/daniel/Desktop/Project/src/css/font.css);
@import url(/Users/daniel/Desktop/Project/src/css/bootstrap-reboot.min.css);
@import url(/Users/daniel/Desktop/Project/src/css/bootstrap-grid.min.css);
* {
  margin: 0;
  padding: 0;
}

.header__btn {
  width: 151px;
  height: 50px;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #464646;
  color: #fdfcfc;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  border: none;
}

.header__btn:hover {
  background-color: #fdfcfc;
  color: #464646;
  -webkit-box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__btn i {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  margin-left: 5px;
  font-size: 22px;
}

.plan__button {
  width: 152px;
  height: 51px;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #ffc038;
  color: #3a3a3a;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  border-radius: 3px;
}

.plan__button:hover {
  background-color: #252525;
  color: #ffc038;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 7px;
}

.packages__left_btn {
  width: 193px;
  height: 46px;
  border-radius: 3px;
  background-color: #a5a5a5;
  border: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.packages__left_btn:hover {
  background-color: #464646;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.packages__mid_btn {
  width: 216px;
  height: 57px;
  border-radius: 3px;
  background-color: #f26c4f;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
}

.packages__mid_btn:hover {
  background-color: #464646;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.packages__right_btn {
  width: 193px;
  height: 46px;
  border-radius: 3px;
  background-color: #ffc038;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.packages__right_btn:hover {
  background-color: #464646;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.plan__wrapper {
  padding: 141px 0 130px 0;
}

.plan__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 210px;
}

.plan__block:nth-child(5) {
  padding-bottom: 0;
}

.plan__text {
  width: 464px;
  height: 252px;
}

.plan__text h4 {
  color: #252525;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.plan__text p {
  color: #363636;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.41px;
}

.title {
  margin: 0 auto;
  width: 330px;
  height: 55px;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #464646;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 7px;
  border-radius: 4px;
  margin-bottom: 100px;
}

.scheme {
  background: url(../../img/bg1.jpg) center center/cover repeat;
}

.scheme__wrapper {
  padding: 86px 0 110px 0;
  text-align: center;
}

.scheme__title {
  margin-bottom: 145px;
}

.scheme__image {
  margin: 0 auto;
}

.features__wrapper {
  padding: 134px 0 80px 0;
}

.features__title {
  margin-bottom: 150px;
}

.features__column {
  width: 317px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  padding: 10px;
}

.features__column:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #fbc73a;
}

.features__column:hover i {
  color: #fff;
}

.features__column:hover h6 {
  color: #fff;
}

.features__column:hover p {
  color: #fff;
}

.features i {
  font-size: 30px;
  padding-right: 15px;
}

.features h6 {
  color: #363636;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.features p {
  color: #636363;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.packages__wrapper {
  padding: 40px 0 80px 0;
}

.packages__row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.packages__column_left h5 {
  color: #8d8d8d;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  padding-bottom: 40px;
}

.packages__column_left p {
  color: #b3b3b3;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
}

.packages__column_left h6 {
  color: #a5a5a5;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  padding-top: 35px;
  padding-bottom: 30px;
}

.packages__column_left span {
  font-size: 35px;
  line-height: 68px;
}

.packages__column_mid h5 {
  color: #f26c4f;
  font-family: Roboto;
  font-size: 27px;
  font-weight: 400;
  padding-bottom: 40px;
  line-height: 27px;
}

.packages__column_mid p {
  color: #363636;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 15px;
}

.packages__column_mid h6 {
  color: #f26c4f;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  padding-top: 35px;
  padding-bottom: 30px;
}

.packages__column_mid h6 span {
  font-size: 68px;
  line-height: 68px;
}

.packages__column_right h5 {
  color: #fbc73a;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  padding-bottom: 40px;
}

.packages__column_right p {
  color: #b3b3b3;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
}

.packages__column_right h6 {
  color: #efb415;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  padding-top: 35px;
  padding-bottom: 30px;
}

.packages__column_right h6 span {
  font-size: 35px;
  line-height: 68px;
}

.history {
  background: url(../../img/bg2.jpg) center center/cover repeat;
}

.history__wrapper {
  padding: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.history__text_block {
  margin-left: 21px;
}

.history__title {
  width: 220px !important;
  height: 55px !important;
  text-align: center;
  padding-top: 7px;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #464646;
  width: 181px;
  height: 17px;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  border-radius: 3px;
}

.history p {
  width: 480px;
  color: #363636;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 18px;
}

.history__btn {
  width: 191px;
  height: 48px;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #ffc038;
  color: #3a3a3a;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  border-radius: 6px;
}

.history__btn:hover {
  background-color: #464646;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.business__wrapper {
  padding: 100px 0;
  text-align: center;
}

.business__title {
  width: 447px;
  height: 55px;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #464646;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 7px;
  margin: 0 auto;
  margin-bottom: 125px;
}

.team__wrapper {
  padding: 10px 0 40px 0;
}

.team__block {
  height: 274px;
  background-color: #ffc038;
  width: 100%;
  background-color: #ffc038;
  text-align: center;
}

.team ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
}

.team li {
  list-style: none;
  width: 140px;
  height: 186px;
}

.team h4 {
  color: #f5f5f5;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.team h5 {
  color: #f5f5f5;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
}

.team img {
  padding-bottom: 18px;
}

.support__wrapper {
  padding: 50px 0;
}

.support__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.support p {
  width: 480px;
  height: 215px;
  color: #363636;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28.36px;
  margin-bottom: 20px;
}

.support__btn {
  width: 190px;
  height: 47px;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #ffc038;
  border: none;
  color: #3a3a3a;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  border-radius: 4px;
}

.support__btn:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #464646;
  color: #fff;
}

.hire__wrapper {
  padding: 80px 0;
  text-align: center;
}

.hire__block {
  width: 1007px;
  height: 93px;
  background-color: #ffc038;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px;
  margin: 0 auto;
}

.hire h4 {
  color: #ffffff;
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 7px;
  padding-left: 10px;
}

.hire button {
  width: 159px;
  height: 47px;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  color: #3a3a3a;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
}

.hire button:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #464646;
  color: #fff;
}

.header {
  height: 715px;
  background-color: #ffc038;
}

.header__wrapper {
  padding: 76px 0 58px 0;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  padding-top: 8px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav ul li {
  text-align: center;
  margin: 0 25px;
  list-style: none;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__nav ul li a {
  text-decoration: none;
  color: #464646;
}

.header__nav ul li a:hover {
  color: #fdfcfc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__body {
  margin-top: 72px;
}

.header__body_text h1 {
  color: #fdfcfc;
  font-family: Roboto;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.header__body_text p {
  width: 380px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

.header__device {
  position: absolute;
  top: 280px;
  left: 570px;
}

.footer {
  height: 409px;
  background-color: #363636;
  text-align: center;
}

.footer__wrapper {
  padding-top: 30px;
}

.footer li {
  list-style: none;
}

.footer a {
  list-style: none;
  color: #aab2bd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  text-decoration: none;
}

.footer a:hover {
  color: #e6e9ed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer h5 {
  color: #e6e9ed;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 50.08px;
  text-transform: uppercase;
}

.footer i {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  margin: 7px;
  border-radius: 2px;
  background-color: #ffc038;
  padding: 5px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.footer i:hover {
  color: #000;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__copyright {
  color: #aab2bd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header__nav ul li {
    margin: 0 15px;
  }
  .header__device {
    top: 45%;
    left: 45%;
    width: 50%;
  }
  .header__body_text h1 {
    font-size: 35px;
    margin-bottom: 0;
  }
  .header__body_text p {
    line-height: 27px;
  }
  .plan__wrapper {
    padding: 100px 0 0 0;
  }
  .plan__block {
    padding-bottom: 120px;
  }
  .scheme__image {
    width: 90%;
  }
  .features__wrapper {
    padding: 90px 0 40px 0;
  }
  .history p {
    width: 400px;
  }
  .business img {
    width: 90%;
  }
  .support p {
    width: 430px;
    font-size: 15px;
    line-height: 27px;
  }
  .hire img {
    width: 90%;
  }
  .hire__block {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 550px;
  }
  .header__wrapper {
    padding: 25px 0 40px 0;
  }
  .header__logo img {
    width: 90%;
  }
  .header__nav ul li {
    margin: 0 8px;
    font-size: 12px;
  }
  .header__body {
    margin-top: 30px;
  }
  .header__device {
    top: 50%;
    left: 45%;
    width: 50%;
  }
  .header__body_text h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .header__body_text p {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
  }
  .title {
    width: 250px;
    height: 45px;
    font-size: 20px;
    margin-bottom: 50px;
  }
  .plan__wrapper {
    padding: 50px 0 0 0;
  }
  .plan__block {
    padding-bottom: 80px;
  }
  .plan__block img {
    width: 50%;
    height: 50%;
  }
  .plan__text {
    margin-left: 10px;
    width: 400px;
    height: 245px;
  }
  .plan__text h4 {
    font-size: 17px;
  }
  .plan__text p {
    line-height: 19px;
    font-size: 12px;
  }
  .plan__button {
    width: 120px;
    height: 40px;
  }
  .scheme__wrapper {
    padding: 30px 0 50px 0;
  }
  .scheme__image {
    width: 90%;
  }
  .features__wrapper {
    padding: 60px 0 10px 0;
  }
  .features__column {
    width: auto;
    height: auto;
    margin-bottom: 30px;
  }
  .features p {
    font-size: 13px;
  }
  .packages__column_left h5 {
    padding-bottom: 10px;
  }
  .packages__column_left h6 {
    padding-bottom: 27px;
  }
  .packages__column_left p {
    margin-bottom: 10px;
  }
  .packages__left_btn {
    width: 150px;
  }
  .packages__column_mid h5 {
    padding-bottom: 10px;
  }
  .packages__column_mid h6 {
    padding-top: 0;
  }
  .packages__column_mid p {
    margin-bottom: 10px;
  }
  .packages__mid_btn {
    width: 150px;
  }
  .packages__column_right h5 {
    padding-bottom: 10px;
  }
  .packages__column_right h6 {
    padding-top: 11px;
    padding-bottom: 28px;
  }
  .packages__column_right p {
    margin-bottom: 10px;
  }
  .packages__right_btn {
    width: 150px;
  }
  .history img {
    width: 60%;
    height: 60%;
  }
  .history p {
    width: 270px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 15px;
  }
  .business__wrapper {
    padding: 40px 0;
  }
  .business__title {
    margin-bottom: 50px;
  }
  .business__projects {
    width: 90%;
  }
  .team img {
    width: 70%;
  }
  .team h4 {
    font-size: 12px;
  }
  .team h5 {
    font-size: 14px;
  }
  .team ul {
    padding: 20px;
  }
  .team__block {
    height: 200px;
  }
  .support__wrapper {
    padding: 25px 0;
  }
  .support__img {
    width: 60%;
    height: 60%;
  }
  .support p {
    width: 300px;
    font-size: 13px;
    line-height: 20px;
  }
  .hire__wrapper {
    padding: 40px 0;
  }
  .hire img {
    width: 90%;
  }
  .hire__block {
    width: 90%;
  }
  .footer {
    height: 370px;
  }
  .footer h5 {
    font-size: 15px;
  }
  .footer a {
    font-size: 13px;
  }
  .footer__copyright {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */