.scheme
    background: url(../../img/bg1.jpg) center (center/cover) repeat
    &__wrapper
        padding: 86px 0 110px 0
        text-align: center
    &__title
        margin-bottom: 145px
    &__image
        margin: 0 auto
    